<a href="https://colab.research.google.com/github/sourovw/3Y1S-Codes/blob/master/CT-Scripts/A1-CT3-18101004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sum the following series using for loop.

In [1]:
n = int(input("Value of n: "))
sum = 0

for i in range(1, n + 1) :
  sum = sum + pow(i, 2)
  
print("Sum:", sum)

Value of n: 3
Sum: 14

You have a group of 3 students. Each student has a name, ID and dept stored in a dictionary. And all 3 students are stored in a "students" dictionary. Now use a loop to iterate through the "students" dictionary and print only the "name" of all the students.

In [2]:
students = {
    1 : {
        "name" : "Sourov",
         "ID" : "18101004",
    },
    2 : {
        "name" : "Rakin",
        "ID" : "18101003"
    },
    3 : {
        "name" : "Joy",
        "ID" : "18101021"
    }
}

In [3]:
for i in students :
  print(students[i]["name"])

Sourov
Rakin
Joy