<a href="https://colab.research.google.com/github/sourovw/3Y1S-Codes/blob/master/CT-Scripts/A1-CT2-18101004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to check Leap year.

In [2]:
year = int(input("Year: "))

if (year % 400) == 0 :
    print("is_leap_year")
elif (year % 100) == 0 :
    print("not_leap_year")
elif (year % 4) == 0 :
    print("is_leap_year")
else:
    print("not_leap_year")

Year: 2020
is_leap_year

Given a string of length 12, divide the string into 4 parts of length 3. Then swap the first part with the last part. Output the final string.

In [3]:
given = "ABCDEFGHIJKL"

part1 = given[0 : 3]
part2 = given[3 : 6]
part3 = given[6 : 9]
part4 = given[9 : 12]

output = (part4 + part3 + part2 + part1)
print(output)

JKLGHIDEFABC

Suppose you are going to start a Django Project with a group of 5 members. Now, you need to store the information (Name, ID, CGPA, Email Address, and Contact No.) about the group members in some variables. Choose the appropriate data type where one can search a member effectively.

In [4]:
my_dic = {
    18101004 : {
        "Name" : "Sourov",
        "ID" : "18101004",
        "CGPA" : 3.50,
        "Email_Address" : "abc@mail.com",
        "Contact_No" : "01784264753"
    },
    18101005 : {
        "Name" : "Gourov",
        "ID" : "18101005",
        "CGPA" : 3.00,
        "Email_Address" : "ubc@mail.com",
        "Contact_No" : "01784565753"
    },
    18101009 : {
        "Name" : "Kabir",
        "ID" : "18101009",
        "CGPA" : 3.67,
        "Email_Address" : "ksh@mail.com",
        "Contact_No" : "01788864753"
    },
    18101010 : {
        "Name" : "Ovi",
        "ID" : "18101010",
        "CGPA" : 3.48,
        "Email_Address" : "ovi@mail.com",
        "Contact_No" : "01784004753"
    },
    18101011 : {
        "Name" : "Neel",
        "ID" : "18101011",
        "CGPA" : 3.18,
        "Email_Address" : "neel@mail.com",
        "Contact_No" : "01784264700"
    }
}

In [5]:
my_dic[18101004]

{'CGPA': 3.5,
 'Contact_No': '01784264753',
 'Email_Address': 'abc@mail.com',
 'ID': '18101004',
 'Name': 'Sourov'}

Choose variables of appropriate data type to store the information of the following table in a way that if someone inputs the Employee ID, it will show all the information of that Employee.

In [6]:
Employee = {
    1001 : {
        "Ename" : "John",
        "DeptID" : 2,
        "Salary" : 4000,
        "Dname" : "IT",
        "Dlocation" : "New Delhi"
    },
    1002 : {
        "Ename" : "Anna",
        "DeptID" : 1,
        "Salary" : 3500,
        "Dname" : "HR",
        "Dlocation" : "Mumbai"
    },
    1003 : {
        "Ename" : "James",
        "DeptID" : 1,
        "Salary" : 2500,
        "Dname" : "HR",
        "Dlocation" : "Mumbai"
    },
    1004 : {
        "Ename" : "David",
        "DeptID" : 2,
        "Salary" : 5000,
        "Dname" : "IT",
        "Dlocation" : "New Delhi"
    }
}

In [11]:
key = int(input())
Employee[key]

1002

{'DeptID': 1,
 'Dlocation': 'Mumbai',
 'Dname': 'HR',
 'Ename': 'Anna',
 'Salary': 3500}